<html>

<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/error.css">
  <title>Error 404</title>
</head>

<body>
  <div id="main">
    <div class="fof">
      <h1>Error 404</h1>
      <h3>Page Not Found</h3>
      <h5><a href="/">Home</a></h5>
    </div>
  </div>
</body>

</html>