<html>

<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/error.css">
  <title>Unexpected Error</title>
</head>

<body>
  <div id="main">
    <div class="fof">
      <h1>Unexpected Error</h1>
      <h3>It appears you have been met with an unexpected error. For more information, please contact the developer.
      </h3>
      <h5><a href="/">Home</a></h5>
    </div>
  </div>
</body>

</html>