<%- include('partials/header'); -%>
<% if(currentUser){ %>
<% if(schedule.length > 0) { %>
<% } else {%>
<div class="container-fluid">
    <a href="/schedule">Input your schedule to get started!</a>
</div>
<% } %>
<% } else { %>
<div class="container-fluid">
    <a href="/schedule">Input your schedule to get started!</a>
</div>

<% } %>
<%- include ('partials/footer'); -%>