<%- include('partials/header') -%>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<div class="container">
    <h3>Current Schedule</h3>
    <% schedule.forEach(function(course){ %>
    <div class="row">
        <div class="col-md-2"><% course.name %></div>
    </div>
    <% }); %>
</div>
<div class="container">
    <form id="scheduleForm" action="/schedule" method="POST">
        <div class="form-list">
            <div class="form-row row">
                <div class="col-md-2 form-group label-floating">
                    <label class="control-label">Class Name</label>
                    <input type="text" class="form-control" v-model="act" name="name">
                </div>
                <div class="col-md-2 form-group label-floating">
                    <label class="control-label">Start Time</label>
                    <input type="time" class="form-control" v-model="section" name="start">
                </div>
                <div class="col-md-2 form-group label-floating">
                    <label class="control-label">End Time</label>
                    <input type="time" class="form-control" v-model="section" name="end">
                </div>
                <div class="col-md-2 form-group label-floating">
                    <label class="control-label">Location</label>
                    <select class="form-control" v-model="section" name="location">
                        <option value="Agnar Pyte Center">Agnar Pyte Center</option>
                        <option value="Bingham">Bingham</option>
                        <option value="Glennan">Glennan</option>
                        <option value="Kent Hale Smith">Kent Hale Smith</option>
                        <option value="Nord">Nord</option>
                        <option value="Olin">Olin</option>
                        <option value="Rockefeller">Rockefeller</option>
                        <option value="Millis Schmidt">Millis Schmidt</option>
                        <option value="A. W. Smith">A. W. Smith</option>
                        <option value="Strosacker">Strosacker</option>
                        <option value="White">White</option>
                        <option value="Wickenden">Wickenden</option>
                        <option value="Yost">Yost</option>
                    </select>
                </div>
                <div class="col-md-2 form-group label-floating">
                    <label class="control-label">Weekdays</label>
                    <select class="form-control" v-model="section" name="day" id="select" multiple>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                    </select>
                </div>
            </div>
        </div>
        <button>Submit</button>
    </form>
</div>
<%- include('partials/footer') -%>